<html>
<head>
 <link
rel="stylesheet"
<div class="w3-right w3-hide-small">
            <a href="home.html" class="w3-bar-item w3-button">Acasa</a>

<a href="Candidati.html" class="w3-bar-item w3-button">Candidati</a>
<a href="Companii.html" class="w3-bar-item w3-button">Companii</a>
    <a href="OfertadeLucru.html" class="w3-bar-item w3-button">Oferta de Lucru</a>
        <a href="HRWORKPOWER.html" class="w3-bar-item w3-button"><b>HR</b> WORKPOWER</a>



<a href="Contact.html" class="w3-bar-item w3-button">Contact</a>

 </script>
</head>
<body>
 <div class="title">HRWORKPOWER</div>
 <hr/>
</body>
</html>