

<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>human resource</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (Sits on top) -->
<div class="w3-top w3-bar w3-white w3-wide w3-padding w3-card">
<a href="/HRWORKPOWER" class="w3-bar-item w3-button"><b>HR</b> WORKPOWER</a>

<!-- Float links to the right. Hide them on small screens -->
<div class="w3-right w3-hide-small">
          <a href="/" class="w3-bar-item w3-button">Acasa</a>

  <a href="/Candidati/" class="w3-bar-item w3-button">Candidati</a>
<a href="/Companii/" class="w3-bar-item w3-button">Companii</a>
    <a href="/OfertadeLucru/" class="w3-bar-item w3-button">Oferta de Lucru</a>


<a href="/Contact/" class="w3-bar-item w3-button">Contact</a>

</div>

</div>

<!-- Page Start -->
<div id="home" class="w3-content" style="max-width:1564px">

<!-- Image in Display Container -->
<div class="w3-display-container w3-content" style="max-width:1500px;">
<img class="w3-image" src="work2.jpg" alt="Architecture" width="100%">
<div class="w3-display-middle w3-margin-top w3-center">
<h1 class="w3-xxlarge w3-text-white w3-wide">
<span class="w3-padding w3-black w3-opacity-min"><b>HR</b></span>
<span class="w3-hide-small w3-text-light-grey">WORKPOWER</span>
</h1>
</div>
</div>
<br>
  <br>
  <br>
  <br>

<!-- Page End -->
<!DOCTYPE html>


<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Lista Candidati</h2>

<table>
  <tr>
    <th>Nume</th>
    <th>Prenume</th>
    <th>Curriculum Vitae</th>
  </tr>
  <tr>
    <td>Ion</td>
    <td>Popescu</td>
    <td>Programare:Phyton, Java, C++.</td>
  </tr>
  <tr>
    <td>Maria</td>
    <td>Ionescu</td>
    <td>Baza de date:SQL, PostgreSql, NoSql,</td>
  </tr>
  <tr>
    <td> Andrei</td>
    <td>Vasilescu</td>
    <td>Front-end web Development: HTML5, CSS3, JAVASCRIPT.</td>
  </tr>
  <tr>
    <td>Ana</td>
    <td>Mihai</td>
    <td>Back-end web Development: Node.js, Express.js, Django</td>
  </tr>
  <tr>
    <td>Alexandru</td>
    <td>Stanescu</td>
    <td>Securitate Cibernetica: Firewalls, Criptare, Identificare si Autentificare.</td>
  </tr>
  <tr>

  </tr>
</table>

</body>
</html>

