<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<title>human resource</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<!-- Navbar (Sits on top) -->
<div class="w3-top w3-bar w3-white w3-wide w3-padding w3-card">
<a href="HRWORKPOWER.html" class="w3-bar-item w3-button"><b>HR</b> WORKPOWER</a>

<!-- Float links to the right. Hide them on small screens -->
<div class="w3-right w3-hide-small">
        <a href="/" class="w3-bar-item w3-button">Acasa</a>

<a href="/Candidati/" class="w3-bar-item w3-button">Candidati</a>
<a href="/Companii/." class="w3-bar-item w3-button">Companii</a>
    <a href="/OfertadeLucru/" class="w3-bar-item w3-button">Oferta de Lucru</a>


<a href="/Contact/." class="w3-bar-item w3-button">Contact</a>

</div>

</div>

<!-- Page Start -->
<div id="home" class="w3-content" style="max-width:1564px">

<!-- Image in Display Container -->
<div class="w3-display-container w3-content" style="max-width:1500px;">
<img class="w3-image" src="work2.jpg" alt="Architecture" width="100%">
<div class="w3-display-middle w3-margin-top w3-center">
<h1 class="w3-xxlarge w3-text-white w3-wide">
<span class="w3-padding w3-black w3-opacity-min"><b>HR</b></span>
<span class="w3-hide-small w3-text-light-grey">WORKPOWER</span>
</h1>
</div>
</div>
<img src="work2.jpg" alt="static" width="500" height="333">

<!-- Page End -->
</div>

</body>
</html>
